<app-main></app-main>
<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <h3>This is template driven form</h3>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value, $event)" autocomplete="off">
        Name:
        <input type="text" [(ngModel)]="model.name" name="name">
        Age:
        <input type="number" [(ngModel)]="model.age" name="age">
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="col-sm-6">
      <table width="100%" border="1">
        <tr>
          <th>ID</th>
          <td>Name</td>
          <td>Age</td>
        </tr>
        <tr *ngFor="let post of posts">
          <td>{{post.id}}</td>
          <td>{{post.name}}</td>
          <td>{{post.age}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
    
<!-- <button (click)="sendData()">Add new user</button> -->
